.primary-color {
    background-color: #876445;
}

.secondary-color {
    background-color: #CA965C;
}

.thirth-color {
    background-color: #EEC373;
}

.fourth-color {
    background-color: #F4DFBA;
}

.banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.4)), url('../assets/bg.jpg');
}

.highlighted-kategori {
    height: 100px;
}

.kategori-box {
    background-color: #876445;
    background-size: cover;
    background-position: center;
}
.no-decoration {
    color: black;
    text-decoration: none;
}

.no-decoration:hover {
    color: #EEC373;
    text-decoration: none;
}

.content-subscribe {
    background-color: rgba(0, 0, 0,0.7);
}

.content-subscribe a {
    color: #fff;
}

.banner-produk {
    height: 45vh;
    background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.4)), url('../assets/bg.jpg');
}

.banner-tentang-kami {
    height: 45vh;
    background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.4)), url('../assets/bg.jpg');
}

.produk-terkait-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}